*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family:  monaco cursive monospace;
   font-style: italic;
    
}

.container{
    width: 100vw;
    overflow-x: hidden;
}

.header{
    text-align: center;
    margin-top: 40px;
    color: slateblue;
    animation: menu 0.2s;
    position: relative;
}

@keyframes menu {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

div section{
    margin: 20px 15px 0px 15px;
}

.section{
    border: 2px aliceblue solid;
    width: 95px;
    text-align: center;
}

.chicken > .section{
     background-color: rgb( 144, 242, 33, 0.471 );
    color: black;
    font-weight: bold;
    float: right;
} 

.beef > .section{
     background-color: #D59898;
    color: black;
    font-weight: bold;
    float: right;
} 

.sushi > .section{
     background-color: rgb( 33, 242, 235, 0.471 );
    color: black;
    font-weight: bold;
    float: right;
} 

.chicken{
    background-color: rgb( 33, 242, 235, 0.471 );
    border: 1px solid black;
}
.beef{
    background-color: rgb( 144, 242, 33, 0.471 );
    border: 1px solid black;
}
.sushi{
    background-color: rgba( 238, 204, 52, 0.496 );
    border: 1px solid black;

}


section p{
    padding: 30px 15px 10px 15px;
    text-align: left;
    font-family: monaco cursive monospace;
    font-weight: 100;
        
}

/* desktop*/

@media (min-width:992px){
    .col-lg-4{
        width: 33.33%;
        float: left;
    }


}
/* tablet*/

@media (min-width:768px) and (max-width:991px){

    .col-md-6{
        width: 50%;
        float: left;
    }
    .col-md-12{
        height: 100%;
        float: left;
    }
}
/* mobile*/

@media (max-width:767px){
    .col-sm-4{
        width: 100%;
        float: left;
    }
    
}